<!DOCTYPE html>
<html lang="en">

<head>
	<title>Yelpcamp</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	 crossorigin="anonymous">
	 <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<nav class="navbar navbar-expand-md sticky-top navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="/">Yelpcamp</a>
			<a class="nav-link" href="/campgrounds">Campgrounds</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yelpCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>

			<div class="collapse navbar-collapse" id="yelpCollapse">
				<ul class="navbar-nav ml-auto">
					<% if(!currentUser){ %>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signup">Sign Up</a>
						</li>
						<% } else { %>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<%= currentUser.username %></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/logout">Logout</a>
							</li>
							<% } %>
				</ul>
			</div>
		</div>
	</nav>
